################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/ObjectOrientedPractics/ObjectOrientedPractics/.vs/ObjectOrientedPractics/FileContentIndex/64630c9c-665a-433f-b7b7-49c959b6ca3d.vsidx
/src/ObjectOrientedPractics/ObjectOrientedPractics/.vs/ObjectOrientedPractics/FileContentIndex/662d551f-6d93-476f-b2f1-34e7e5a23f00.vsidx
/src/ObjectOrientedPractics/ObjectOrientedPractics/.vs/ObjectOrientedPractics/FileContentIndex/76f03dbb-d5b2-488d-952e-8c05f32fdc40.vsidx
/src/ObjectOrientedPractics/ObjectOrientedPractics/.vs/ObjectOrientedPractics/FileContentIndex/93ba42ff-6e2c-41e3-a238-3a811d72d553.vsidx
/src/ObjectOrientedPractics/ObjectOrientedPractics/.vs/ObjectOrientedPractics/FileContentIndex/ab3eebe6-e593-4e36-884b-15f996976bb2.vsidx
